*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    position: relative;
    background: rgb(23, 36, 23);
    overflow: hidden;
} 

ul.floating-boxes li{
    list-style: none;
    position: absolute;
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(38,121,9,1) 35%, rgba(255,205,0,1) 100%);
    opacity: 0;
    
    animation: floatingboxes 10s linear infinite;
}

ul.floating-boxes li:nth-child(1) {
    left: 5%;
    height: 6rem;
    width: 6rem;
    animation-delay: 1s;
    animation-duration: 15s;
  }
ul.floating-boxes li:nth-child(2) {
    left: 15%;
    width: 3rem;
    height: 3rem;
    animation-delay: 13s;  
    animation-duration: 25s;  
}

ul.floating-boxes li:nth-child(3) {
    left: 25%;
    width: 2rem;
    height: 2rem;
    animation-delay: 5s;  
    animation-duration: 18s;  
}

ul.floating-boxes li:nth-child(4) {
    left: 35%;
    width: 5rem;
    height: 5rem;
    animation-delay: 8s;  
    animation-duration: 8s;  
}

ul.floating-boxes li:nth-child(5) {
    left: 45%;
    width: 3rem;
    height: 3rem;
    animation-delay: 3s;  
    animation-duration: 15s;  
}

ul.floating-boxes li:nth-child(6) {
    left: 55%;
    width: 8rem;
    height: 8rem;
    animation-delay: 10s;  
    animation-duration: 5s;  
}

ul.floating-boxes li:nth-child(7) {
    left: 65%;
    width: 5rem;
    height: 5rem;
    animation-delay: 17s;  
    animation-duration: 12s;  
}

ul.floating-boxes li:nth-child(8) {
    left: 75%;
    width: 2rem;
    height: 2rem;
    animation-delay: 4s;  
    animation-duration: 18s;  
}

ul.floating-boxes li:nth-child(9) {
    left: 85%;
    width: 7rem;
    height: 7rem;
    animation-delay: 1s;  
    animation-duration: 7s;  
}

ul.floating-boxes li:nth-child(10) {
    left: 95%;
    width: 3rem;
    height: 3rem;
    animation-delay: 3s;  
    animation-duration: 8s;  
}

@keyframes floatingboxes {
    0% {
        transform: translateY(125vh) rotate(0);
        opacity: 0;
        border-radius: 0;
    }
    100% {
        transform: translateY(-25vh) rotate(1080deg);
        opacity: 1;
        border-radius: 50%;
    }
} 